@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

a,.btn{
    transition: all 330ms ease
}

nav,.nav-link{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-link{
    justify-content: space-around;
    align-items: center;
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 16px;
}

.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}
/* hambuger menue */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease;
}

.menu-links{
    position: absolute;
    top:100%;
    right: 0px;
    background-color: white;
    width: fit-content;
    max-height:0;
    overflow: hidden;
    transition: all 0.3 ease;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.menu-links a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 16px;
}

.menu-links{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  

section{
    padding-top:4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-conntainer{
    display: flex;
}

#profile{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 5rem;
    height: 80vh;

}

.section-pic{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0px;
}

.section_text p{
    font-weight: 600;
}

.section_text_p1{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

.section_text_p2{
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1 rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.section_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-container{
    margin: 1rem 0rem ;
    display: flex;
    gap: 1rem;
}
.btn-container button{
    padding: 15px 10px;
    border-radius: 50px;
    border: 1px solid black;
    font-weight: 600;
}

.section_text_p2{
    font-size: 30px;
    margin-top: 10px;
}
.btn-color-2{
    background-color: #343434;
    color: white;
}

.btn-color-1:hover{
    transition: all ease 0.3sec;
    background-color: #343434;
    color: white;
    cursor: pointer;
}
.btn-color-2:hover{
    border: rgb(238, 229, 192) 0.1rem solid;
    transition: all ease 0.3sec;
    background-color: #343434;
    color: white;
    cursor: pointer;
}

.about-pic{
    border-radius: 2rem;
    height: 400px;
    width: 400px;
}

.about-bigcontainer{
    display: flex;
    gap: 2rem ;
}

.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-container,.about-details-container{
    display: flex;
    flex-direction: row;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom:2rem;
}
.details-container{
    padding: 1.5rem;
    flex:1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    text-align: center;
}
.about-details-container{
    display: flex;
    flex-direction: column;
}

#about .title{
    margin-bottom: 1re;
}

#about{
    position: relative;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#experience{
    position: relative;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    gap: 0.2rem;
}
#projects{
    position: relative;
}

.color-container{
    border-color: rgb(163,163,163);
    background: rgb(250,250,250);
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin:1 rem;
    color: black;
}

.project-btn{
    color: black;
    border-color: rgb(163, 163, 163);
}

.btn-container{
    justify-content: center;
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    border-radius: 4rem;
    border: rgb(53,53,53) 0.1rem solid;
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;

}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: large;
}

.contact-icon{
    cursor: default;
    height: 2rem;
}

.contact-info-container a{
    text-decoration: none;
}

.email-icon{
    height: 2.5rem;
}

/* foorer */

footer{
    text-align: center;
    height: 26vh;
    margin: 0 1rem;
}

.section-pic{
    clip-path: circle(50% at 50% 50%);
}
